.align {
    display: flex;
    justify-content: center;
    background-color: green;
}

.list-group {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 30px;
    background-color: blue;
}

.item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: purple;
}

.scroll {
    flex-wrap: wrap;
    align-items: center;
    background-color: lightblue;
    width: 55vw;
    height: 110px;
    padding: 25px;
    overflow: auto;
    background-color: green;
}

ul li {
    list-style: none;
}

.button {


}

