body  {
    font-family: Helvetica, sans-serif;
    color: #304B4B;
    margin: 0;
    background-color: #F5F5F5;

    font-size: 18px;
}

h1, h2{
    text-align: center;
}
  
h1{
    text-align: center;
  }
  
  h2{
    font-size: 18px;
  }
  
button, .filter {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 20px;
    background: #FFD5C2;
    color: #406464;
    margin: 0 8px 10px 0;
}

.button.condensed {
   background: #406464;
   border: 0;
}

.filter{
    margin-right: 10%;
    margin-top: 10px;
    height: 40px;
    width: 100px;
  }
  
  section.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#406464;
    height: 60px;
  }
  
  .new{ 
    margin-top: 10px;
    margin-left: 10%;
    height: 40px;
    width: 100px;
  }
  
  
  
  .create{
    justify-content: center;
    width: 90%;
    border: 5px;
    margin-right: 5%;
  } 
  
  .newBookmark{
    justify-content: center;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    background-color: aliceblue;
  }
  
  #title, #url, .newItemDesc{
    justify-content: center;
    margin-top: 6px;
  }
  
  input{
    height: 30px;
  }
  
  textarea{
    justify-content: left;
    width: 95%;
    height: 60px;
  }
  
  #newRating{
    height: 30px;
    width: 70px;
    margin: 5px;
  }
  
  .add{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100px;
    justify-content: center;
    padding-top: 9px;
    margin-top: 5px;
  }
  
  ul{
    justify-content: center;
    padding-left: 5%;
  }
  
  .bookmarkElement{
    justify-content: center;
    list-style-type: none;
    border: solid 1px;
    width: 90%;
    margin-top: 10px;
    background-color: aliceblue;
  }
  
  .titleRating, .collapse{
    justify-content: space-between;
    width: 100%;
    display: flex;
  }
  
  .bookmarkHeader, .rating{
    display: flex;
    flex-direction: row;
  }
  
  .bookmarkDescription{
    text-align: justify;
    width: 90%;
  }
  
  .visitPage, .delete{
    margin: 5px;
    height: 50px;
  }


@media all and (min-width: 600px) {
    body {
        display: flex;
    }
    .addRating{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      #rating{
        display: flex;
        flex-direction: row;
        height: 40px;
      }
      
      .add{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 9px;
        margin-top: 20px;
        margin-right: 5px;
      }    

      fieldset {
          margin-top: 25px;
      }
}
