body  {
    font-family: Helvetica, sans-serif;
    color: #304B4B;
    margin: 0;
    background-color: #F5F5F5;
}


.main, .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookmarks {
    flex-direction: column;
    text-align: center;
}

.list-group {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 30px;
}

.item {
    padding: 5px;
    display: flex;
    flex-direction: column;

}

.scroll {
    flex-wrap: wrap;
    align-items: center;
    background-color: lightblue;
    width: 55vw;
    height: 110px;
    padding: 25px;
    overflow: auto;
}

ul li {
    list-style: none;
}

.hidden {
    display: none;
}

#rating {
    background-color: #F28F3B;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.js-bookmark-item {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

#filterBookMark{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.error-message {
    background-color: #304B4B;
    color: white;
}
@media all and (min-width: 600px) {
    body {
      
    }
  }
